h1 {
    display:flex;
    justify-content: center;
    color: rgb(255, 174, 0);
    font-family: "Jazz LET", fantasy;
    font-weight: bolder;
    text-shadow: 4px 4px 0px rgb(0, 0, 0);
    font-size: 58px;
    font-style: italic;
    font-variant: small-caps;
    margin: 5px 0 5px 0;
}

body {
    background-image: url('images/brightgold.jpeg');
/* got from https://www.transparenttextures.com/ */
}

.title {
    display: flex;
}

.button {
    border: 2px solid black;
    width: 175px;
    height: 175px;
    margin: 27px;
    padding: 12px 12px 20px 12px;
    color: rgb(247, 240, 240);
    text-shadow: 3px 3px 5px rgb(207, 148, 29);
    /* background: black; */
    box-shadow: 5px 15px rgba(0, 0, 0, .7);
    background-image: url('images/silvertv.gif');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center;
    /* opacity: 0.6; */
    font-family: "Jazz LET", fantasy;
    border-radius:28px;
    font-size: 13px;
}

/* button.submit:visited {
    color: red;
    background-color: white;
} */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: initial; */
    position: relative;
    text-align: center;
    color: black;
    /* max-width: auto; */
    max-height: 1200px;
    /* border: 2px solid red; */
    justify-content: space-around;
    justify-items: space-around;
    /* align-items: center; */
    margin: 15px 75px 15px 75px;
  }

.a {
    display: flex;
    justify-content: flex-end;
}

input {
    margin: 9px 3px;
}

 /* stack overflow for transform - which makes background darker and more readable on hover */
.button:hover {
    background: rgba(0, 0, 0, 0.705);
    transform: scale(1.7);
    color: rgb(211, 176, 23);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    font-weight: bolder;
}
  
#answer-compilation {
    margin: 25px 0 0 0; 
}

#answer-blockbuster {
    margin: 1px 0 0 0;
}

#answer-hulu {
    margin: 1px 0 0 0;
}

#answer-issa {
    margin: 20px 0 0 0;
}

#answer-iron {
    margin: 2px 0 0 0;
}

/* Contribution from button generator https://www.bestcssbuttongenerator.com/*/
.submit { 
	box-shadow: inset 0px 0px 0px 0px #ca0a0a;
    background: rgba(0, 0, 0, 0.5);
    background-image: url('images/silvertv.gif'); 
    border-radius: 28px;
	border: 1px solid #e6b217;
	display:inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: "Jazz LET", fantasy;
	font-size: 11px;
	font-weight:bolder;
	font-style: italic;
	padding: 5px 18px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}

.submit:hover {
	background: rgba(0, 0, 0);
}
.submit:active {
	position: relative;
	top: 1px;
}

